# Vivado generated output. Keep Multiplier.xpr and Multiplier.srcs/.
*.cache/
*.gen/
*.hw/
*.ip_user_files/
*.runs/
*.sim/

*.jou
*.log
*.pb
*.str
*.wdb
*.wcfg
*.dcp
*.bit
*.ltx
*.bin
*.mcs
*.vcd
*.lpr
*.backup.*
webtalk*

.Xil/
xsim.dir/

.DS_Store
*.swp
*~
